name: Deploy website on server
run-name: Website deploy
on:
  push:
    branches:
      - master
  workflow_dispatch:
concurrency:
  group: deploy
  cancel-in-progress: false
jobs:
  BuildAndDeploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Send the site via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.ftp_address }}
          username: ${{ secrets.ftp_username }}
          password: ${{ secrets.ftp_password }}
          protocol: ftps
          local-dir: ./
          server-dir: /public_html/